<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Perpus - Edit Buku</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
    <div class="container">
        <h1>Edit Buku</h1>
        <p>
            <a href="/perpus/buku/listBuku" th:href="@{/perpus/buku/listBuku}">Menu Utama</a>
        </p>
        <form class="form-group" action="/perpus/buku/saveEditBuku" th:action="@{/perpus/buku/saveEditBuku}" method="post">
	       	<div class="form-group">
	            <label for="content">Kode Buku :</label>
	            <input type="text" class="form-control" name="kdbuku" th:field="${buku.kdbuku}" readonly/>
	        </div>
	        <div class="form-group">
	            <label for="content">Judul :</label>
	            <input type="text" class="form-control" name="judul" th:field="${buku.judul}" />
	        </div>
	        <div class="form-group">
	        	<label for="content">Pengarang Id :</label>
	            <select class="form-control" name="pengarang.id" id="pengarang.id">
			    	<option th:value="0">-</option>
			    	<option th:each="pengarang : ${pengarang}" th:value="${pengarang.id}" th:text="${pengarang.id + ' - ' + pengarang.nama_pengarang}"></option>
			    </select>
	        </div>
	        <div class="form-group">
                <label for="content">Deskripsi :</label>
                <textarea class="form-control" name="deskripsi" path="deskripsi" id="deskripsi" style="max-width:500px; max-height:150px" th:field="${buku.deskripsi}"/></textarea>
            </div>	        
	       	<div class="form-group">
	            <label for="content">Tahun :</label>
	            <input type="text" class="form-control" name="tahun" th:field="${buku.tahun}" />
	        </div>
	        <div class="form-group">
	            <label for="content">Jumlah :</label>
	            <input type="text" class="form-control" name="jumlah" th:field="${buku.jumlah}" />
	        </div>	        
	        <button type="submit" class="btn btn-success">Save</button>
	        <a href="#" th:href="@{/perpus/buku/listBuku}" class="btn btn-danger" role="button">Cancel</a>
	     </form>
	 </div>
</body>
</html>
