<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Perpus - Edit Anggota</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
    <div class="container">
        <h1>Edit Anggota</h1>
        <p>
            <a href="/perpus/buku/listBuku" th:href="@{/perpus/buku/listBuku}">Menu Utama</a>
        </p>
        <form class="form-group" action="/perpus/anggota/saveEditAnggota" th:action="@{/perpus/anggota/saveEditAnggota}" method="post">
	       	<div class="form-group">
	            <label for="content">Id Anggota :</label>
	            <input type="text" class="form-control" name="idanggota" th:field="${anggota.idanggota}" readonly/>
	        </div>
	        <div class="form-group">
	            <label for="content">Nama :</label>
	            <input type="text" class="form-control" name="nama_anggota" th:field="${anggota.nama_anggota}" />
	        </div>	        
	        <div class="form-group">
                <label for="content">Alamat :</label>
                <textarea class="form-control" name="alamat" path="alamat" id="alamat" style="max-width:500px; max-height:150px" th:field="${anggota.alamat}"/></textarea>
            </div>
            <div class="form-group">
	            <label for="content">No Telp :</label>
	            <input type="number" class="form-control" name="no_telp" th:field="${anggota.no_telp}" />
	        </div>	        
	       	<div class="form-group">
	            <label for="content">Email :</label>
	            <input type="email" class="form-control" name="email" th:field="${anggota.email}" />
	        </div>
	        <div class="form-group">
	            <label for="content">Tanggal Join :</label>
	            <input type="text" class="form-control" name="tgl_join" th:field="${anggota.tgl_join}" readonly/>
	        </div>	        
	        <button type="submit" class="btn btn-success">Save</button>
	        <a href="#" th:href="@{/perpus/buku/listBuku}" class="btn btn-danger" role="button">Cancel</a>
	     </form>
	 </div>
</body>
</html>
