<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>E-Library :: Indonesia</title>
  <!-- inject:css -->
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
  <!-- endinject -->
  <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}" /></script>  
  <link rel="shortcut icon" href="../../images/favicon.png" />    
  <script type="text/javascript">
  	function doCancel(){
       	window.location.href = '/perpus/peminjaman/listPeminjaman'; 
    }
  	
  	window.onload = function(){
	  	var statusPeminjaman = document.getElementById('status_peminjaman').value;
	  	var btnApprove = document.getElementById('btnApprove');
	  	var btnFinish = document.getElementById('btnFinish');
	  	
		if(statusPeminjaman == 'IN PROGRESS'){
			btnFinish.style.display = 'none';
		}else if(statusPeminjaman == 'APPROVED'){
			btnApprove.style.display = 'none';
		}else{
			btnApprove.style.display = 'none';
			btnFinish.style.display = 'none';
		}
  	}
  	
	function doApprove(kdpeminjaman){		
       	window.location.href = '/perpus/peminjaman/approve/'+kdpeminjaman; 
    }
	
	function doFund(kdpeminjaman){
       	window.location.href = '/perpus/peminjaman/fund/'+kdpeminjaman; 
    }
  </script>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo justify-content-center" href="/perpus/index">E-Library</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>    
    <div class="container-fluid page-body-wrapper">
  		<div class="row row-offcanvas row-offcanvas-right">
  		<!-- Right Menu -->
  		<nav th:replace="/perpus/rightMenu::#sidebar"></nav>
        <!-- partial -->
        <div class="content-wrapper">
            <div class="col-lg-12 grid-margin stretch-card">
			  <div class="card">
			    <div class="card-body">
			      <h4 class="card-title">Detail of Transaction</h4>
			      	<div class="form-group">
			            <label for="content">Transaction Code :</label>
			            <input type="text" class="form-control" name="kdpeminjaman" th:field="${peminjaman.kdpeminjaman}" readonly/>
			        </div>
			        <div class="form-group">
			        	<label for="content">Member Id :</label>
			            <input type="text" class="form-control" name="idpeminjam" th:field="${peminjaman.anggota.idanggota}" readonly/>
			        </div>
			        <div class="form-group">
			        	<label for="content">Name :</label>
			            <input type="text" class="form-control" name="nama_peminjam" th:field="${peminjaman.anggota.nama_anggota}" readonly/>
			        </div>
			        <div class="form-group">
			            <label for="content">Book Code :</label>
			            <input type="text" class="form-control" name="kdbuku" th:field="${peminjaman.buku.kdbuku}" readonly/>
			        </div>
			        <div class="form-group">
			            <label for="content">Title :</label>
			            <input type="text" class="form-control" name="judul" th:field="${peminjaman.buku.judul}" readonly/>
			        </div>
			        <div class="form-group">
			            <label for="content">Total :</label>
			            <input type="text" class="form-control" name="jumlah" th:field="${peminjaman.jumlah}" readonly/>
			        </div>
			        <div class="form-group">
			            <label for="content">Date of Borrow :</label>
			            <input type="text" class="form-control" name="jumlah" th:field="${peminjaman.tgl_pinjam}" readonly/>
			        </div>
			        <div class="form-group">
			            <label for="content">Date of Back :</label>
			            <input type="text" class="form-control" name="jumlah" th:field="${peminjaman.tgl_kembali}" readonly/>
			        </div>
			        <div class="form-group">
			            <label for="content">Status :</label>
			            <input type="text" class="form-control" id="status_peminjaman" name="status_peminjaman" th:field="${peminjaman.status_peminjaman}" readonly/>
			        </div>
			        <input type="submit" value="Approve" id="btnApprove" class="btn btn-success" th:onclick="|doApprove('${peminjaman.kdpeminjaman}');|"/>
			        <input type="submit" value="Finish" id="btnFinish" class="btn btn-primary" th:onclick="|doFund('${peminjaman.kdpeminjaman}');|"/>
			        <input type="button" value="Cancel" class="btn btn-danger" onclick="doCancel();"/>
			    </div>
			  </div>
			</div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer th:replace="/perpus/footer::#footer"></footer>
        <!-- partial -->
      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <script type="text/javascript" th:src="@{/js/chart.js}" /></script>
  <script type="text/javascript" th:src="@{/js/dashboard.js}" /></script>
  <script type="text/javascript" th:src="@{/js/misc.js}" /></script>
  <script type="text/javascript" th:src="@{/js/off-canvas.js}" /></script>
</body>

</html>