<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>E-Library :: Indonesia</title>
  <!-- inject:css -->
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
  <!-- <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> -->
  <!-- <link rel="stylesheet" type="text/css" media="all" href="../static/css/main.css" th:href="@{/css/main.css}" /> -->
  <!-- endinject -->
  <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}" /></script>  
  <link rel="shortcut icon" href="../../images/favicon.png" />
  <style type="text/css">
  	th {
  		font-weight: 600;
  	}
  </style>
  <script>
  	function doDetail(kdpeminjaman){
       	window.location.href = '/perpus/peminjaman/detailPeminjaman/'+kdpeminjaman; 
    }
                   
	function doDelete(kdpeminjaman){
		var hapusData = confirm("Do you want to delete this record ?");
		if(hapusData == true){
			window.location.href = '/perpus/peminjaman/deletePeminjaman/'+kdpeminjaman;
		}else{
			window.location.href = '#';
		}
	}
	
	function doBorrow(kdbuku){
       	window.location.href = '/perpus/peminjaman/pinjamBuku/'+kdbuku; 
    }
  </script>
</head>
<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo justify-content-center" href="/perpus/index">E-Library</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>    
    <div class="container-fluid page-body-wrapper">
  		<div class="row row-offcanvas row-offcanvas-right">
  		<!-- Right Menu -->
  		<nav th:replace="/perpus/rightMenu::#sidebar"></nav>
        <!-- partial -->
        <div class="content-wrapper">
            <div class="col-lg-12 grid-margin stretch-card">           		
			  <div class="card">
			    <div class="card-body">
			      <h4 class="card-title">List of Transaction</h4>
			      <table class="table table-striped">
			        <thead>
		                <tr>
		                	<th>Transaction Code</th>
		                    <th>Name</th>
		                    <th>Title</th>
		                    <th>Actions</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr th:each="peminjaman : ${peminjaman}">
		                	<td id="kdpeminjaman" th:text="${peminjaman.kdpeminjaman}"></td>
		                    <td th:text="${peminjaman.anggota.nama_anggota}">${peminjaman.anggota.nama_anggota}</td>
		                    <td th:text="${peminjaman.buku.judul}">${peminjaman.buku.judul}</td>
		                    <td>
		                        <input type="button" value="Detail" class="btn btn-secondary" th:onclick="|doDetail('${peminjaman.kdpeminjaman}');|"/>
		                        <input type="button" value="Delete" class="btn btn-danger" th:onclick="|doDelete('${peminjaman.kdpeminjaman}');|"/>                        
		                    </td>
		                </tr>
		            </tbody>
			      </table>
			    </div>
			  </div>
			</div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer th:replace="/perpus/footer::#footer"></footer>
        <!-- partial -->
      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <script type="text/javascript" th:src="@{/js/chart.js}" /></script>
  <script type="text/javascript" th:src="@{/js/dashboard.js}" /></script>
  <script type="text/javascript" th:src="@{/js/misc.js}" /></script>
  <script type="text/javascript" th:src="@{/js/off-canvas.js}" /></script>
</body>

</html>