<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/perpus/buku/listBuku" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Book</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/perpus/anggota/listAnggota" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Member</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/perpus/peminjaman/listPeminjaman" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Transaction</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
    </li>            
  </ul>          
</nav>